{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": ["prettier-plugin-jinja-template"],
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "jinja-template"
      }
    }
  ],
  "proseWrap": "always"
}
