{# Inspired by theme-next.js.org #}
<hr style="margin: 0" />
<div class="cc-license animated" itemprop="sponsor">
  Built with<br />
  <span
    style="text-decoration: none"
    class="exturl cc-opacity"
    title="A fast, simple & powerful blog framework"
  >
    <a href="https://hexo.io" style="text-decoration: none">
      <img
        width="160"
        src="https://github.com/hexojs/logo/blob/master/hexo-logo.png?raw=true"
        alt="Hexo"
      />
    </a>
  </span>
  <span
    style="text-decoration: none"
    class="exturl cc-opacity"
    title="A theme for Hexo"
  >
    <a href="https://theme-next.js.org" style="text-decoration: none">
      <img
        width="160"
        src="https://theme-next.js.org/images/next.svg"
        alt="NexT"
      />
    </a>
  </span>
</div>
