{# Inspired by theme-next.js.org #}

<hr style="margin: 0" />
<div class="cc-license animated" itemprop="sponsor" style="font-size: small;">
  Built with
  <span
    class="exturl cc-opacity"
    title="A fast, simple & powerful blog framework"
    style="display: block;"
  >
    <a href="https://hexo.io">
      <img
        width="120"
        src="https://github.com/hexojs/logo/blob/master/hexo-logo.png?raw=true"
        alt="Hexo"
      />
    </a>
  </span>

  Themed with

  <span
    class="exturl cc-opacity"
    title="A theme for Hexo"
    style="display: block;"
  >
    <a href="https://theme-next.js.org">
      <img
        width="120"
        src="https://theme-next.js.org/images/next.svg"
        alt="NexT"
      />
    </a>
  </span>

  Deployed with

  <span
    class="exturl cc-opacity"
    title="Deployed with Netlify → https://www.netlify.com"
    style="display: block;"
  >
    <a href="https://netlify.com">
      <img
        width="120"
        src="https://www.netlify.com/img/global/badges/netlify-dark.svg"
        alt="Netlify"
      />
    </a>
  </span>
</div>
